{
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
     "jsx": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
  },
  "rules": {
    "no-underscore-dangle": "off",
    "arrow-parens": "off",
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "object-curly-spacing": ["off"],
    "consistent-return": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "import/no-unresolved": ["error"],
    "import/no-extraneous-dependencies": "off",
    "no-console": 0,
    "import/no-named-default": "off",
    "import/prefer-default-export": "off",
    "import/no-named-as-default-member": "off",
    "no-use-before-define": "off",
    "valid-jsdoc": "error",
    "promise/param-names": 2,
    "promise/always-return": 0,
    "promise/catch-or-return": 0,
    "promise/no-native": 0,
    "class-methods-use-this": "off",
    "react/jsx-uses-vars": 1,

  },
  "plugins": [
    "react",
    "promise",
    "import"
  ]
}
